<%= form_tag movies_path, method: :get, id: "submitForm" do %>
  <p>
    <%= text_field_tag(
      :title,
      nil,
      placeholder: "Search for a movie",
      id: "movieTitle"
    ) %>
    <%= submit_tag "Search" %>
  </p>
<% end %>

<div id="movieData"></div>
